@font-face {
	font-family: D-DIN;
	src: url('../assets/fonts/D-DIN.ttf') format("truetype");
}

@font-face {
	font-family: poppins;
	src: url('../assets/fonts/Poppins-SemiBold.ttf') format("truetype");
}

body {
	background: linear-gradient(#141b25, #221e22);
}

.main-container {
	margin: 5%;
}

.title {
	font-family: poppins;
	font-size: 200%;
	color: white;
	text-align: center;
}

#title-text {
	color: #5cc3d5;
}

.about-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 3%;
}

.summary-section {
	font-family: monospace;
	color: white;
	font-size: 1.3vw;
}

.red { color: #e32547; }
.blue { color: #5dccdb; }
.green { color: #84c82a; }
.yellow { color: #e7db74; }
.purple { color: #9477f9; }
.arial { font-family: arial; }

.about-image-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.image-container {
	width: 50%;
	overflow: hidden;
	position: relative;
}

#photo {
	width: 100%;
	clip-path: circle(40%);
}

.outline-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.outline-1 {
	clip-path: circle(46%);
	background-color: white;
	transition-duration: .3s;
}
.outline-2 {
	clip-path: circle(45%);
	background-color: #191c23;
}
.image-container:hover .outline-1 {
	clip-path: circle(48%);
}

.description-section {
	font-family: poppins;
	color: white;
	text-align: center;
}

.description-title {
	font-size: 200%;
}
