@font-face {
	font-family: poppins;
	src: url('../assets/fonts/Poppins-SemiBold.ttf') format("truetype");
}

body {
	background-image: linear-gradient(#141b25, #221e22);
}

.notes-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 5%;
}

.note {
	font-family: poppins;
	
	display: flex;
	align-items:center;
    justify-content:center;
	width: 10vw;
	height: 10vw;
	border: 5px solid white;
	
	position: relative;
	
	background-color: #f3b1cd;
	color: white;

}

.note-wrapper {
	margin: 3vw;
	transform: translate(0%, 0%);
	transition: all .8s;
}

.note::before {
	z-index: -1;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .8s;
	border: 5px solid white;
	background-color: #030405;
	transform: translate(8%, 8%);
	
}

.note-wrapper:hover {
	transform: translate(8%, 8%);
	cursor: pointer;
}

.note:hover::before {
	transform: translate(-2%, -2%); /* 1/5 */
}